.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
}

.logo__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  height: 4rem;
  width: 15rem;
  position: relative;
  margin-right: 1rem;
}

.svg__white__background {
	background-color: #fff;
	height: 100%;
	flex: 0.4;
}

@media screen and (max-width: 1024px) {
	.svg__white__background {
		display: none;
	}
}

.svg__container {
	background-color: var(--light-blue);
	height: 100%;
	width: 100%;
	border-bottom-right-radius: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 3rem;
}

.svg__container span {
	text-align: center;
	margin-top: 2rem;
}
.svg__wrapper {
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	flex: 1;
}

.svg {
	width: 100%;
	height: 80vh;
	max-height: 40rem;
	position: relative;
}

.form__blue__background {
	background-color: var(--light-blue);
	flex: 0.6;
	height: 100%;
}

@media screen and (max-width: 1024px) {
	.form__blue__background {
		flex: 1;
	}
}

.form__white__background {
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-top-left-radius: 10rem;
	padding: 5rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow-y: auto;
}

@media screen and (max-width: 1024px) {
	.form__white__background {
		border-radius: 0;
	}
}

@media screen and (max-width: 600px) {
	.form__white__background {
		padding: 2rem;
	}
}

.view {
	flex: 1;
	width: 100%;
}

.socials__container {
	width: 100%;
	max-width: 30rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	align-items: center;
	justify-items: center;
	margin-top: 2rem;
}

.contact__container {
	width: 100%;
	max-width: 50rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 2rem;
}

@media screen and (max-width: 450px) {
	.contact__container {
		justify-content: center;
	}
}

.contact__item {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 450px) {
	.contact__item {
    margin-bottom: 1rem;
	}
}

.contact__item span {
	margin-left: 1rem;
}
