.container {
	padding: 3rem;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(9, 1fr);
}

.card1,
.card2,
.card3,
.card4,
.card5 {
	border-radius: 2rem;
	padding: 2rem;
	min-height: 17rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.card1 {
	grid-column: 1 / 6;
	background: linear-gradient(to top, var(--main-blue), #c6deff);
	display: grid;
	gap: 0.5rem;
	align-content: center;
	align-items: center;
}

.card1 p,
.card1 h2 {
	color: #fff;
}

.card2 {
	grid-column: 6 / 10;
	background-color: #fff;
	display: grid;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.card2 p {
	color: var(--error);
	font-size: 1.8rem;
}

.card2 span {
	font-size: 4.5rem;
	margin-right: 0.5rem;
}

.card3 {
	grid-column: 1 / 4;
}

.card3 h6,
.card4 h6,
.card5 h6 {
  text-align: center;
}

.card4 {
	grid-column: 4 / 7;
}

.card5 {
	grid-column: 7 / 10;
}

.card4,
.card5,
.card3 {
	background-color: #fff;
	display: grid;
	justify-items: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 2rem;
	min-height: 30rem;
}

.card4 h1,
.card5 h1 {
	font-size: 5rem;
	color: var(--main-blue);
}

.label__container {
	width: 100%;
	display: grid;
	gap: 1.5rem;
	padding: 0 2rem;
}

.label__container__chart {
	width: 100%;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.label {
	display: flex;
	align-items: center;
}

.label__bullet {
	height: 1rem;
	width: 1rem;
	margin-right: 1rem;
}

.label__bullet__error {
	background-color: var(--error);
}

.label__bullet__success {
	background-color: var(--success);
}

.label__bullet__warning {
	background-color: var(--warning);
}

.label__bullet__inreview {
	background-color: var(--dark-blue);
}

@media screen and (max-width: 1200px) {
	.container {
		grid-template-columns: repeat(8, 1fr);
	}
	.card1 {
		grid-column: 1 / 6;
	}

	.card2 {
		grid-column: 6 / 9;
	}

	.card3 {
		grid-column: 1 / 5;
	}

	.card4 {
		grid-column: 5 / 9;
	}

	.card5 {
		grid-column: 1 / 5;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: repeat(9, 1fr);
	}
	.card1 {
		grid-column: 1 / 6;
	}

	.card2 {
		grid-column: 6 / 10;
	}

	.card3 {
		grid-column: 1 / 4;
	}

	.card4 {
		grid-column: 4 / 7;
	}

	.card5 {
		grid-column: 7 / 10;
	}
}

@media screen and (max-width: 750px) {
	.container {
		grid-template-columns: repeat(8, 1fr);
	}
	.card1 {
		grid-column: 1 / 5;
	}

	.card2 {
		grid-column: 5 / 9;
	}

	.card3 {
		grid-column: 1 / 5;
	}

	.card4 {
		grid-column: 5 / 9;
	}

	.card5 {
		grid-column: 1 / 5;
	}
}

@media screen and (max-width: 550px) {
	.container {
		grid-template-columns: repeat(8, 1fr);
	}
	.card1,
	.card2,
	.card3,
	.card4,
	.card5 {
		grid-column: 1 / 9;
	}
}
