.heading {
    padding-left: 20rem;
    border-radius: 50px;
    background-color: #E5E5E5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.title {
    width: 190px;
    list-style-type: none;
    border-bottom: 5px solid #458FF6;
    font-size: 25px;
    font-weight: 600;
    color: #233348;
}

.big__container {
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.heading__info {
    padding-top: 3rem;
}

.info {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #233348;
    width: 490px;
    padding-left: 15rem;
}

/* form section */

.form {
    border-radius: 5px;
    padding: 20px;
    color: #233348;
}

.reg {
    padding-top: 2rem;
}

.reg__input, .mail__input {
    width: 100%;
    padding: 9px 12px;
    border: none;
    border-bottom: 1px solid #B4B4B4;
    box-sizing: border-box;
    margin: 6px 0 9px 0;
}

.number {
    font-weight: 300;
    font-size: 10px;
}

.form__text {
    font-weight: 600;
    font-size: 15px;
    padding-top: 1rem;
}

/* button */

.submit {
    background-color: hsla(215, 91%, 62%, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    color: #F8F7F7;
    width: 128px;
    height: 40px;
    margin: 2rem 0 0 20rem;
    font-weight: 600;
    font-size: 15px;
}

/* Footer section */

.footer {
    text-align: center;
    margin-left: 4rem;
    line-height: 25px;
    width: 80%;
    border-top: 1px solid #E5E5E5;
}

.sign__up {
    color: #458FF6;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.sub__sign__up {
    font-weight: 500;
    font-size: 18px;
    padding-left: .5rem;
}

.policy {
    font-weight: 500;
    font-size: 15px;
}
