.container {
	width: 100%;
	max-width: 50rem;
	display: grid;
	align-content: flex-start;
	grid-template-rows: auto auto 1fr auto;
	gap: 2rem;
	padding: 2rem 0;
}

.radio__container {
	display: grid;
	gap: 1rem;
}

.radio__group {
	display: flex;
	align-items: center;
	gap: 5rem;
}

.text__container {
	display: flex;
	column-gap: 11rem;
	justify-content: center;
}

.signup__container {
	width: 100%;
	text-align: center;
	align-self: flex-end;
	margin-top: 3rem;
}

.form {
	display: grid;
	height: 100%;
	align-items: center;
	align-content: flex-start;
	margin-top: 3rem;
}

.password__options {
	display: flex;
	justify-content: space-between;
}

.btn__container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.title,
.subtitle {
	text-align: center !important;
}

.subtitle {
	justify-self: center;
	max-width: 35rem;
}

.modal__container {
	min-height: 20rem;
	display: grid;
	gap: 2rem;
	justify-items: center;
	text-align: center;
	grid-template-rows: 8.8rem 8.8rem 1fr;
	align-items: flex-start;
}

.modal__container p {
	align-self: flex-end;
}

.general__error {
	padding: 1rem;
	background-color: var(--error);
	color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: center;
}

.general__error p {
	margin-left: 2rem;
}
